<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pt.ptuser.mapper.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.pt.ptuser.entity.SysUserRole">
    <!--@mbg.generated-->
    <!--@Table dealer_user_role-->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <id column="role_id" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  <sql id="selectSysUserRole">
        select ur.user_id,ur.role_id
		from dynamic_user_role ur
    </sql>

  <select id="getUserRoleList"  resultMap="BaseResultMap" >
    <include refid="selectSysUserRole"/>
    left join dynamic_role r on ur.role_id = r.role_id
    where ur.user_id = #{userId} and r.role_code = #{roleCode}
  </select>
  <select id="countUserRoleByRoleId" resultType="Integer">
    select count(1) from dynamic_user_role where role_id=#{roleId}
  </select>

  <delete id="deleteUserRoleByUserId">
    delete from dynamic_user_role where user_id=#{userId}
  </delete>

  <delete id="deleteUserRole" >
    delete from dynamic_user_role where user_id in
    <foreach collection="array" item="userId" open="(" separator="," close=")">
      #{userId}
    </foreach>
  </delete>

  <insert id="batchUserRole">
    insert into dynamic_user_role(user_id, role_id) values
    <foreach item="item" index="index" collection="list" separator=",">
      (#{item.userId},#{item.roleId})
    </foreach>
  </insert>

  <delete id="deleteUserRoleInfo">
    delete from dynamic_user_role where user_id=#{userId} and role_id=#{roleId}
  </delete>

  <delete id="deleteUserRoleInfos">
    delete from dynamic_user_role where role_id=#{roleId} and user_id in
    <foreach collection="userIds" item="userId" open="(" separator="," close=")">
      #{userId}
    </foreach>
  </delete>
</mapper>